
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<h1 class="ApprovalTitle">Sign Up</h1>
<h2 class="Text-Approval">Thank you for signing up</h2>
<h2 class="Text-Approval">Your details have been sent</h2>
<h2 class="Text-Approval">And awaiting approval</h2>
<img class="Yasou" src="~/Content/IMGS/Yasou.png" />

<div>
    <div>
        <button class="btn">
            <span class="btn__inner">
                <span class="btn__slide"></span>
                <span class="btn__content">Submit</span>
            </span>
        </button>
    </div>

