
@{
    Layout = "~/Views/MasterPage/MasterPage.cshtml";
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title class="Titles">Login</title>
</head>

<body>

    <div class="wrapper">
        <h1 class="Titles">Login</h1>
        <form action="~/Login/CheckLogin_New" method="post">

            <table class="Tables-Pages">

                <tr class="Table-row">
                    @if (ViewBag.Error != null)
                    {
                        <span class="error">Name or password are not correct </span>
                    }
                    @if (ViewBag.NotApproved != null)
                    {
                        <span class="error"> you have yet to be approved</span>
                    }
                    @*else if (ViewBag.Trick != null)
        {
            <span class="error">This is not good to do some tricks</span>

        }*@
                </tr>
                <tr class="Table-row">
                    <td class="Text-SignUp">User Name</td>
                    <td class="input"><input type="text" name="Email" /></td>
                </tr>
                <tr class="Table-row">
                    <td class="Text-SignUp">Password</td>
                    <td class="input"><input type="password" name="password" /></td>
                </tr>
                <tr class="Table-row">
                    <td class="Text-SignUp"></td>
                    <td class="input"><p class="FP">Forgot Password</p></td>
                </tr>
                <tr class="Table-row">
                    <td class="Text-SignUp"></td>
                    <td class="input"><button class="MyButton-Submit" type="submit">Login</button></td>
                </tr>
                <tr class="">
                    <td class="Text-SignUp"><p class="White">Don't have an account? </p></td>                    
                </tr>
                <tr class="">
                    <td class="Text-SignUp"><a href="https://localhost:44323/SignUp/SignUp" class="FP">Sign up</a><td>                    
                </tr>



            </table>

        </form>
    </div>
</body>
</html>
