
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Styles/StyleSheet2.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>

<body>
    
    <div class="wrapper">
        <h1 class="Title">Login</h1>
        <form action="~/Login/CheckLogin" method="post">
            
            <ul class="fields">
                <li >
                    @if (ViewBag.Error != null)
                    {
                        <span class="error">Name or password is not correct</span>
                    }
                    else if (ViewBag.Trick != null)
                    {
                        <span class="error">This is not good to do some tricks</span>

                    }
                </li>
                <li class="fields-row">
                    <label>User Name</label>
                    <input type="text" name="NickName" class="input1"/>
                </li>
                <li class="fields-row">
                    <label>Password</label>
                    <input type="password" name="Password" class="input2" />
                    <p class="FP">Forgot Password</p>
                </li>
               
                <li class="fields-row">
                    <button class="MyButton" type="submit">Login</button>
                </li>
                <li class="SU">
                    <p class="White">Don't have an account? </p> <p class="blu">Sign up</p>
                </li>
            </ul>
        </form> 
    </div>
</body>
</html>
