body {
}

.Navigation {
    width: 100%;
    background-color: #182544;
    color: white;
    height: 30px;
    position: center;
    opacity: 0.5;
    list-style-type: none;
    border: 1px solid grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Icon {
    width: 30px;
    height: 30px;
}

.NavBar-Category {
    display: inline;
    border-left: 1px solid white;
    padding-bottom: 2px;
    float: left;
    
}

