body {
    background-image: url("https://images8.alphacoders.com/539/thumb-1920-539384.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial;
}
.fields-row {
    color: white;
    position: center;
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fields{
    list-style:none;
    margin-top: 100px;
}
.MyButton {
    background-color: cornflowerblue;
    color: white;
    position: center;
    border-radius: 5px;
    height: 25px;
    width: 180PX;
    font-size: 15px;
    margin-left: 137px;
    margin-top: 30px;
}
.Title{
    font-size:40px;
    color:white;
    position:center;
    margin-left:440px;
    
}
.input1{
    margin-left:30px;
}
.input2 {
    margin-left: 44px;
}
.FP {
    color: cornflowerblue;
    position: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-left: 137px;
}
.blu{
    color: cornflowerblue;
}
.White{
    color:white;
}
.SU {
    color: cornflowerblue;
    position: center;
    width: 100%;
    height: 50px;
    font-size: 15px;
    margin-left: 400px;
    margin-top: 20px;
}
.wrapper{
    margin-left:0px;
    margin-top: 200px;
}
.error {
    color: red;
    position: center;
    
    height: 50px;
    
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
}